<!DOCTYPE html>
<html>
  <head>
  	  	<!--Import Bootstrap CSS-->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  </head>
  <body>
<div class="jumbotron">
  <h1 class="display-4"><%= data.firstName %> <%= data.lastName %></h1>
  <p class="lead">Given Name: <%= data.givenName %>, Height: <%= data.height %>, Weight: <%= data.weight %></p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
  </body>

  
</html>