<!DOCTYPE html>
<html>
<head>
  <style>


  
  .nav {
    background-color:rgba(0,0,0,0.2) !important;
    border-color: transparent !important;
    background-image:none !important;
    color:white !important;
  }
  .nav .btn {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.205)!important;
  }
  .nav li{
    padding-left:30px;
    padding-right:20px;
  }
  .nav a{
    color:white !important;
  }
  .nav input{
    background-color: rgba(255, 255, 255, 0.171);
    border-color: transparent !important;
  }
  .nav ::placeholder {
    color:white !important;
  }



  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .sticky:before,
  .sticky:after {
    content: '';
    display: table;
  }
  .sidebarContainer {
  }
  .sidebar {
    fill: solid;
    background: #24345E;
    color: white;
    padding-right: 0px !important;

  }
  .basicInfo {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 66px;
    padding-bottom: 30%; 
  }
  .basicInfo p {
    margin-bottom: 10px;
    line-height: 100%;
  }

  .active {
  }
  .links {
    display: block !important;
  }
  .header {
    display: inline-block;
  }
  .hdrBtns {
    display: inline-block;
    float:right;  }
    .Rplus {
      font-size: 48px;
    }
    .background {
      background-color: #E1EBF2
    }
    .box {
      margin-left: 10px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 15px;
    }
    .summary {
      font-size: 48px;
    }
    .topRight {
      position: absolute;
      top: 5px;
      right:10px;
    }

    .current {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-bottom: 10px;
    }
    .links {
      background-color: #3D5982;
    }

    .current {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-bottom: 10px;
    }
    .links {
      background-color: #3D5982;
    }


    
.top-nav {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;

  }
     .label{
    display: inline-block;
    font-weight: bold;
  }
  #R-plus{
    font-size: 35px;
    margin-left: 20px;
    font-weight: bold;
    color: green;
  }
  #Childrens{
    font-size: 35px
  }
  #pharmacy{
    margin-left: 80px;
  }

 .topRight {
      position: absolute;
      top: 5px;
      right:10px;

    }

  </style>
  <title>Patient Search</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/files/js/stickyfillmin.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


</head>
<body style="background-color: #E1EBF2;"> 

  <div class="background">

    <div class="sidebarContainer">
      <div class="row">
        <nav class="col-sm-2 sidebar">
          <div class = "sidebar sticky " >
            <div class = "basicInfo"> 
              <h2 id = "name"><%= data.firstName%> <%= data.lastName%></h2>

              <p id="ageDOB"> Age: ###, DOB: <%= data.birthdate%></p>
              <p id="sexWH"> <%= data.sex%>, <%= data.weight%> kg, <%= data.height%> cm </p>
              <p id="allergiesSide"> Shellfish </p>

            </div>
            <div class="links">
              <ul class="nav nav-pills nav-stacked links">
                <li class="active current">
                 <a href="patientPage">Patient Summary</a></li>
                 <li><a href="#section2">Social History</a></li>
                 <li><a href="problemList">Problem List</a></li>
                 <li><a href="allergies">Allergies</a></li>

                 <li><a href="#section4">Immunization Record</a></li>
                 <li><a href="#section3">Well Child Check</a></li>
                 <li><a href="#section5">Testing</a></li>
                 <li><a href="#section6">Growth Charts</a></li>
                 <li><a href="#section7">Nurse Notes</a></li>
                 <li><a href="#section8">Scans</a></li>
               </li>

             </ul>
           </div>
         </div>
       </nav>
       <div class="col-sm-10">   

        <div class = "card header">
        <div class = "topRight">
              <a> User Name  | </a>
              <button class="btn btn-outline-success"> Logout </button>
            </div>

            <div>
              <p class = "label" id = "R-plus"> R+ </p>
              <p class = "label" id = "Childrens">Childrens</p>
              <a href="#Pharmacy" class = "top-nav" id = "pharmacy">Pharmacy</a>
              <a href="#AllPatients" class = "top-nav" id = "rec-pat">Recent Patients</a>
              <a href="../patientSearch.ejs" class = "top-nav" id = "search-pat">Search Patients</a>
            </div>

     </div>
     <div class = "card box summary"> 
      <h3> Patient Summary </h3>

    </div>
    <div id= "updates" class = "card box">
      <h3> Upcoming Updates </h3>
      <div class="row">
        <div class="col-sm">
          12-21-2001
        </div>
        <div class="col-sm">
          Do the well child check
        </div>
        <div class="col-sm">
          Overdue
        </div>

      </div>

      <div class="row">
        <div class="col-sm">
          12-21-2001
        </div>
        <div class="col-sm">
          Do the well child check
        </div>
        <div class="col-sm">
          Overdue
        </div>

      </div>

    </div>
    <div id="allergies" class="card box">
      <h3> Allergies </h3>
      <div class="row">
        <div class="col-sm">
          Peanuts
        </div>
        <div class="col-sm">
          Not very severe
        </div>
        <div class="col-sm">
        </div>

      </div>
    </div>
    <div id="socialHistory" class="card box">
     <h3> Brief Social History </h3>
     <p> Mother left her on the side of the street </p>
   </div>



 </div>

</div>



</body>


<script>


 $(document).ready(function(){
  var patientID= JSON.parse('<%=data.id%>');
  console.log('patientID here' + patientID);

  var elements = document.querySelectorAll('.sticky');
  Stickyfill.add(elements);

            // Initial Page Load
            $.ajax({
              type: 'POST',
              url: '/getPatientKeys',
              data: {
                search: '',
                field: 'lastName',
              },
              success: function(result) {
                patients = result.patient;
                getPatientData(result.patient);
              }
            });
          });



// Input: patient- contains the particular patient's data
// Responsible for posting the patient's data to the webpage
var getPatientData = function(patient) {
  // Temporary objects used to imitate the data coming from patient
  var temp = patient;
  var updates = [{date: '12-12-12', note: 'Do the test', status: 'Overdue'}]
  var allergies = [{item: 'dairy', severity: 'Mild', note: 'Avoid diary products'}]
  var socialHistory = 'Parents died from disease when child was young.';
  console.log('here:' + patient);
  var cards = "";
  var date = new Date(2018,2,12);
  var i = 1;
  var patient = patient[i];

  // Display sidebar content
  $('#name').text(patient.firstName + ' ' + patient.lastName);
  $('#ageSex').text(getAge(patient.birthdate) + ', ' + 'F' ); //paitient.sex
  $('#dob').text(patient.birthdate);
  $('#heightWeight').text(patient.height + " cm, " + patient.weight + " kgs");
  $('#allergiesSide').text('Allergies: ' + allergies[0].allergen );

// Display updates content
var updates = '<div class="row"> <div class="col-sm">' + updates[0].date + 
'</div> <div class="col-sm">' + updates[0].note + 
'</div><div class="col-sm">' + updates[0].status + '</div> </div>'
$('#updates').append(updates);

// Display allergies content
var allergies =  '<div class="row"> <div class="col-sm">' + allergies[0].item + 
'</div> <div class="col-sm">' + allergies[0].severity + 
'</div><div class="col-sm">' + allergies[0].note + '</div> </div>'
$('#allergies').append(allergies);

// Display social history content
var socialHistory = '<p>' + socialHistory + ' </p>'
$('#socialHistory').append(socialHistory);



}



// Input: fromdate: date of birth. Todate: current date
// Calculates age in years, months, weeks, days and returns it as a string
function getAge(fromdate, todate){
  if(todate) todate= new Date(todate);
  else todate= new Date();

  var age= [], fromdate= new Date(fromdate),
  y= [todate.getFullYear(), fromdate.getFullYear()],
  ydiff= y[0]-y[1],
  m= [todate.getMonth() + 1, fromdate.getMonth()],
  mdiff= m[0]-m[1],
  d= [todate.getDate(), fromdate.getDate()],
  ddiff= d[0]-d[1];

  if(mdiff < 0 || (mdiff=== 0 && ddiff<0))--ydiff;
  if(mdiff<0) mdiff+= 12;
  if(ddiff<0){
    fromdate.setMonth(m[1]+1, 0);
    ddiff= fromdate.getDate()-d[1]+d[0];
    --mdiff;
  }
  w = Math.floor(ddiff/7);
  ddiff = ddiff % 7;
  // 3 or older -> show year
  if (ydiff > 2) age.push(ydiff+ ' year'+(ydiff> 1? 's ':' '));
  else if (ydiff> 0) {
 // Over a year -> show year and month
 age.push(ydiff+ ' year'+(ydiff> 1? 's ':' '));
 if(mdiff> 0) age.push(mdiff+ ' month'+(mdiff> 1? 's':''));
 // Over 3 months, less than a year -> show month and week
} else if (mdiff> 3) {
 age.push(mdiff+ ' month'+(mdiff> 1? 's':''));
 if (w> 0) age.push(w+ ' week' + (w> 1? 's':''));
   // Display month and week
 } else if (mdiff>0) {
  age.push(mdiff+ ' month'+(mdiff> 1? 's ':' '));
  if(w> 0) age.push(w+ ' week'+(w> 1? 's':''));
} else {
 // Display week and day
 if(w> 0) age.push(w+ ' week'+(w> 1? 's':''));
 if(ddiff> 0) age.push(ddiff+ ' day'+(ddiff> 1? 's':''));
}

if(age.length>1) age.splice(age.length-1,0,' and ');    
return age.join('');
}




</script>
</body>
</html>

